@tailwind base;
@tailwind components;
@tailwind utilities;

.quantity-buttons {
  display: flex;
  align-items: center;
  .btn {
    margin: 0 17px;
  }
}

.quantity-button {
  border-radius: 50px;
  height: 38px;
  padding: 0 20px;
  display: inline-flex;
  align-items: center;
  border: 1px solid #d8d8d8;
  @include breakpoint(phone) {
    height: 49px;
  }
  .quantity-button__btn {
    font-size: 23px;
    font-weight: 400;
  }
  span {
    font-size: 18px;
    color: #000;
    margin: 0 18px;
    font-weight: 700;
  }
}
